<!DOCTYPE html>
<html>
    <head>
        <title> CONSULTAS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
<body>
    <div class="header">   
        <h1>Consultas</h1>
    </div>
    <div class="container">
        <h2>Primera Consulta</h2>
        <a class="btn" href="/primer-cnslt">Primera Cosulta</a>
        <h2>Segunda Consulta</h2>
        <a class="btn" href="/segunda-cnslt">Segunda Consulta</a>
        <br><br>
        <a class="btn back-btn" href="/">Volver</a>
    </div>
</body>


</html>
