<!DOCTYPE html>
<html>
<head>
    <title>Menú Principal</title>

    <!-- Conexion con CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- Título superior -->
    <div class="header">
        <h1>Biblioteca</h1>
    </div>

    <!-- Caja central con menú -->
    <div class="container">
        <h2>MENÚ PRINCIPAL</h2>

        <a class="btn" href="/crud">CRUD Autor / Libro / Edición / Copia</a>
        <a class="btn" href="/usuarios">CRUD Usuario</a>
        <a class="btn" href="/prestamos">CRUD Préstamo</a>
        <a class="btn" href="/consultas">Consultas</a>
    </div>

</body>
</html>